.tableContainer {
	overflow-x: auto;
	display: flex;
	flex-direction: column;
}

table {
	margin: auto;
	flex: 1 1 300px;
	width: 500px;
	/* display: inline-block; */
	background: rgb(248, 242, 226);
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

.pic {
	display: flex;
	flex-basis: 160px;
}

.round {
	width: 20px;
}

.descriptionText {
	display: flex;
	border: none;
}

#matt,
#melvin,
#team5,
#shook,
#todd,
#troy,
#kraick,
#kory,
#fitch,
#dono,
#hayden {
	display: flex;
	flex-basis: 10px;
	flex-shrink: 2;
	flex-grow: 1;
	/* background: green; */
}

img {
	width: 160px;
	height: 160px;
	border-radius: 20%;
	padding-left: 15px;
}

grade {
	padding-left: 10px;
	/* background: red; */
	font-size: 2em;
	display: flex;
}

gradeint {
	font-size: 1.5em;
	display: flex;
	padding-left: 15px;
	/* background: yellow; */
}

#score {
	background: rgb(225, 226, 241);
	margin: auto;
	flex: 0.5 1 500px;
	margin: 10px;
	padding-right: 20px;
	flex-direction: column;
	overflow: scroll;
}

p {
	text-align: left;
	text-indent: 10%;
	padding: 5px;
	width: 70vw;
	/* overflow: scroll; */
}

#diggs {
	font-weight: bold;
}

a {
	font-weight: bold;
}

@media only screen and (max-width: 580px) {
	p {
		margin-right: 20px;
		max-height: 25vh;
		min-height: 10vh;
		max-width: 260px;
		min-width: 10px;
		padding: 5px;
		text-indent: 0%;
	}
	table {
		max-width: 96%;
	}
	.pic {
		display: flex;
		flex-shrink: 1;
		justify-content: center;
		align-content: center;
		align-items: center;
		padding: none;
		margin: auto;
	}

	#score {
		margin-right: 10px;
		padding-right: 10px;
	}

	#matt {
		margin-top: auto;
	}
	#mypic {
		margin-top: 0;
		padding-top: 0;
	}
	img {
		padding-left: 0;
		margin-bottom: auto;
		width: 140px;
		height: 140px;
	}
}

@media only screen and (max-width: 440px) {
	img {
		height: 100px;
		width: 100px;
	}
	#mypic {
		margin-bottom: 0;
		height: 5px;
	}
	#score {
		width: 45%;
		padding-right: 0px;
		margin-right: 0px;
	}
}
